h1 {
    color: green;
    
}

div {
    border:3px rgb(125, 255, 125) solid;
    width: fit-content;
    margin: 0 auto;
    padding: 3%;
    background-color: rgba(228, 255, 193, 0.651);
}

.orange {
    color: orange;
}
.red {
    color: red;
}
ul,ol > li {
    color: violet;
}